@model Education.Models.Sheet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.TrueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.TrueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
