@model IEnumerable<Education.Models.Exam>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("参加考试", "Create", new { id=item.Id }, new { @class = "btn btn-primary"})
        </td>
    </tr>
}

</table>
