@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Education.Models.Paper>
@{
    ViewBag.Title = "试卷管理";
}
<h2>@ViewBag.Title</h2>
@section css{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function DeleteComplete() {
            window.location.reload();
        }
    </script>
}
@{
    var ajaxOption = new AjaxOptions()
    {
        Confirm = "您确定删除么？",
        HttpMethod = "POST",
        OnComplete = "DeleteComplete",
    };
}

<table class="table">
    <tr>
        <th>
            出题人姓名
        </th>
        <th>
            最近一次编辑日期
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TrueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditOn)
            </td>
            <td>
                <div data-toggle="modal" data-target="#myModal">
                    @Ajax.ActionLink("详细", "Details", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "question" }, new { role = "button", @class = "btn btn-info btn-sm" })
                </div>
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" }) |
                @Ajax.ActionLink("删除", "Delete", new { id = item.Id }, ajaxOption, new { @class = "btn btn-danger btn-sm" }) |
                @Html.ActionLink("创建或编辑测试","Create","Exams", new { id = item.Id}, new { @class = "btn btn-success btn-sm"}) |
                @Html.ActionLink("查看测试列表", "Index", "Exams", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |

            </td>
        </tr>
    }

</table>

<div class="row">
    <div class="col-md-offset-4">
        @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
    </div>
</div>
<p>
    @Html.ActionLink("添加新试卷", "Create", "", new { @class = "btn btn-block btn-success" })
</p>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">详细内容</h4>
            </div>
            <div class="modal-body" id="question">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>